.container {
    display: flex;
    gap: 10px;
    align-items: center;
}
.user_button{
    position: relative;
    padding: 3px;
    cursor: pointer;
}
.user_button:focus .user_options{
    display: flex;
}
.user_button:hover .user_options{
    display: flex;
}
.user_options{
    position: absolute;
    top: 30px;
    display: none;
    left: -35px;
    flex-direction: column;
    background: white !important;
    border-radius: 5px;
    box-shadow: var(--main-shadow);
    border: 1px solid #f5f5f5;
    z-index: 999;
}
.user_option{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
}
.user_option:hover{
    background: #f5f5f5;
}
@media (min-width: 768px){
    .container{
        gap: 17px;
    }
}